{% extends 'base.html' %}
{% block meta %}{% endblock %}
{% block title %}{{ user.business.name }}{% endblock %}
{% block css %}{% endblock %}

{% block content %}
    <div>Usuario: {{ user.first_name}} {{user.last_name }} </div>
    <div><h1>Restaurante:</h1> {{ business.name }}</div>

    {% comment %}Lista de menus{% endcomment %}
    <div>
        <h1>Menus:</h1>
        <ul>
            {% for menu in menus %}
                <li>
                    {{ menu.description }}
                    <ul>
                        {% for item in menu.get_body %}
                            <li>imprimir item.description o lo que sea</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
{% block js %}{% endblock %}
