{% extends 'base.html' %}
{% block meta %}{% endblock %}
{% block title %}{{ user.business.name }}{% endblock %}
{% block css %}{% endblock %}

{% block content %}
    <div>Usuario: {{ user.first_name}} {{user.last_name }} </div>
    <div><h1>Restaurante:</h1> {{ user.business }}</div>
    <div>
        <h1>Menus:</h1>
        <ul>
            {% for menu in user.business.menu_set.all %}
                <li>
                    {{ menu.description }}
                    {{ menu.menuitem_set.all }}
                    {{ menu.section_set.all }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
{% block js %}{% endblock %}
