{% extends 'base.html' %}
{% block meta %}{% endblock %}
{% block title %}{{ user.business.name }}{% endblock %}
{% block css %}{% endblock %}

{% block content %}
    <div><h1>Restaurante:</h1> {{ business.name }}</div>
    <div>
        <h1>Items:</h1>
        <ul>
            {% for item in business.menuitem_set.all %}
                <li>{{ item.description }} - {{ item.menu }} {{ item.menusection_set.all }}</li>
            {% endfor %}
        </ul>
    </div>



{% endblock %}
{% block js %}{% endblock %}
